<% provide(:title, "About") %>
<h1>Firmowa biblioteczka</h1>
<p>
  Firmowa biblioteczka umożliwia: <br> 
  - listowanie książek, <br>
  - dodawanie, usuwanie, edycję książek, <br>
  - zobaczenie szczegółów książki (wraz z okładką), <br>
  - wypożyczenie i oddanie książki, <br>
  - zobaczenie historii wypożyczeń, <br>
  - logowanie za pomocą konta Google. <br>
</p>
