<% provide(:title, 'Spis książek') %>
<h1>Spis książek</h1>

<ul class="books">
  <% @books.each do |book| %>
    <li>
      Tytuł: <%= "\"#{book.title}\"" %>  <br>
	  Autor: <%= book.author  %> 
    </li>
  <% end %>
</ul>