<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Tytuł: <%= "\"#{@book.title}\"" %>
      </h1>   
    </section>
    <p>
	  Autor: <%= @book.author  %> <br>
	<% unless @book.description.empty? %>
	  Opis:  <%= @book.description %>
	<% end %>
	</p>	
  </aside>
</div>