<footer class="footer">
  <small>
    <a href="https://biblioteczka-firmowa-wojtek.herokuapp.com/">Firmowa biblioteczka</a>
    by Wojtek
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>