<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Firmowa biblioteczka", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Strona domowa",   root_path %></li>
        <li><%= link_to "O nas",   about_path %></li>
        <li><%= link_to "Zaloguj się", '#' %></li>
      </ul>
    </nav>
  </div>
</header>